@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Montserrat&family=Rubik&family=Tektur:wght@500&family=Ubuntu:ital@1&display=swap');
.logo{
    display:flex;
    flex-direction: column;
    align-items: center;
}
nav{
    position: relative;
}
.logo-large{
    font-family: 'Tektur', cursive;
    font-size:2.5rem;
    margin-bottom:-1rem;
}
.logo-small{
    font-family: 'Tektur', cursive;
    font-size:1.5rem;
    /* margin-bottom:1rem; */
}
#container{
    display:flex;
    font-family: 'Tektur', cursive;
    font-size:1.2rem;
    justify-content: center;
    align-items: center;
    width:60%;
    /* background-color: red; */
    /* background-color: wheat; */
}
@media (max-width: 992px){
    #container{
        text-align: center;
        display:inline; 
    }
    .d-flex {
        justify-content: center;
    }
}