.container{
    /* font-family: 'Courier New', Courier, monospace; */
    
}
.section{
    background-color: rgb(244, 233, 213);

    /* height:100vh; */
}
.section-part-2 {
    display:flex;
    width:45vw;
    align-items: center;
    justify-content: center;
    /* border:2px solid red; */
    /* margin-left:0rem; */
}
.section-part-2 img{
     height:28rem;
     width:30rem;
     border:2px solid black;
     border-bottom: 10px;
     border-radius:100px;
}
.section-part-1{
    /* height:80vh; */
    width:47vw;
    /* border:2px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0.5rem;
}
.box-1{
    width:75%;
    /* border:2px solid red; */
    margin:1rem;
    padding:2rem;
    /* margin-right: 0rem; */
    /* padding-right:0rem; */
    background-color: #555b60;;
    border:2px solid rgb(219, 249, 167);
    border-radius: 15px;
    color:white;
}
.forbtn{
    display:flex;
    justify-content: space-between;
}
button{
    border-radius: 7px;
    padding:5px;
    background-color:rgb(97, 163, 163);
    font-family: 'Tektur', cursive;
}
.box-1 p{
    font-family: 'Ubuntu', sans-serif;
    color:grey;
}
.box-heading{
    font-family: 'Tektur', cursive;
}
@media (max-width:992px){
    .section{
        flex-direction: column;
    }
    .section-part-2 {
        width:100%;
        align-items: center;
        justify-content: center;
        /* border:2px solid red; */
        /* margin-left:0rem; */
    }
    .section-part-1 {
        width:100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* border:2px solid red; */
        /* margin-left:0rem; */
    }
    .box-1{
      width:100%;
    }
    .section-part-2 img{
         height:15rem;
         width:15rem;
         border:2px solid black;
         border-bottom: 10px;
         border-radius:100px;
    }
}
@media (max-width:700px){
    .section-part-1 {
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border:2px solid red; */
        /* margin-left:0rem; */
    }
}